{
    "cookies": "jy-application-vod-he=你的值; route=你的值(可选)",
    "headers": {
        "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
        "Accept": "application/json, text/plain, */*",
        "Referer": "https://course.hdu.edu.cn/?type=cas"
    },
    "downloader": "aria2c",
    "download_angles": ["Teacher", "PPT"],
    "download_dir": "Downloads",
    "start_date": "2024-09-01",
    "end_date": "2025-01-31",
    "aria2_args": [
        "-j", "16",
        "-x", "16",
        "-s", "16",
        "-k", "1M"
    ]
}
