{
    "cookies": {
        "jy-application-vod-he": "从浏览器开发者工具的【请求标头】中复制，不是响应标头！",
        "SESSION": "从浏览器开发者工具的【请求标头】中复制，不是响应标头！",
        "cmbox": "从浏览器开发者工具的【请求标头】中复制，不是响应标头！",
        "route": "从浏览器开发者工具的【请求标头】中复制，不是响应标头！",
        "_webvpn_key": "如果使用VPN访问，从浏览器开发者工具的【请求标头】中复制，不是响应标头！",
        "at_check": "true"
    },
    "headers": {
        "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
        "Accept": "application/json, text/plain, */*",
        "Referer": "https://course.hdu.edu.cn/?type=cas"
    },
    "downloader": "aria2c",
    "download_angles": ["Teacher", "PPT"]
}
